.main{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    background-color:black;
    border: 3px solid=0px;
    width: 100%;
    height: 75px;
    position: fixed;
  }
  .nav-bar{text-align:right;
    word-spacing:40px;
    font-size: 15px;
    font-family: arial;
  }
  
  .nav-bar ul li a{
    text-align: left;
    text-decoration: none;
    color:bisque;
  }
  
  .nav-bar ul li{
    display: inline-block;
    -webkit-transition: border 1s, border-radius 1s, padding 1s, background-color 1s, color 1s;
  }
  
  .nav-bar ul li:hover{
    border-bottom: 2px solid gray;
    border-radius: 20px;
    padding: 0px;
    background-color:dimgray;
    color: white;
  }
  